		<nav class="site-nav" id="menu">
			<ul class="main-menu">
				<li><a href="/">Home</a></li>
				<li><a href="/blog/">Blog</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="">Link</a></li>
				<li><a href="">Link</a></li>
			</ul>
		</nav>
		<footer class="site-footer">
			<div class="container">
				<small class="copytext">&copy; Copyright {{ 'now' | date: "%Y" }} • {{ site.title }} • All rights reserved.</small>
			</div>
		</footer>
		<script src="/assets/js/scripts.js"></script>
	</body>
</html>