{% include head.html %}
{% include header.html %}
<main>
    <header class="page-header">
        <div class="container-fluid">
            <h1 class="page-title">{{ page.title }}</h1>
            {% if page.subtitle %}<p class="page-subtitle">{{ page.subtitle }}</p>{% endif %}
        </div>
    </header>

    <section class="entry-content">
        <div class="container">
            {{ content }}
        </div>
    </section>

    {% if page.layout == "home" %}
    <section class="section-blog">
        <div class="container">
            <h2 class="section-title">Newest blog posts</h2>
            {% for post in site.posts %}
            <div class="hentry">
                <div class="entry-meta"><time>{{ post.date | date: "%b %-d, %Y" }}</time></div>
                <h3 class="entry-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
</main>
{% include footer.html %}
